/* The main font... */
.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }  

  .heed{
    background-color: rgb(135, 135, 238);
    color: white;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 105px;
    padding: 0px;
    display: inline-block;
    text-align: center;
  }

  .hero{
    background-color: rgb(66, 66, 177);
    color: white;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 98px;
    padding: 0px;
    display: inline-block;
    padding-left: 8px;
  }

          /* Box stuff is separate into the left and right boxes for the different sides of the screen. */
  /* For workout stuff */
  .workleft{
    background-color: rgb(168, 55, 83);
    color: white;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    flex-direction: column;
    border: solid black;
    padding-left: 8px;
    width: 40%;
    height: 280px;
      display: flex;
      position: absolute;
      left: 25px;
      margin-top: 25px;
  }

  .workright{
    background-color: rgb(168, 55, 83);
    color: white;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    flex-direction: column;
    border: solid black;
    padding-left: 8px;
    width: 40%;
    height: 280px;
      display: flex;
      position: absolute;
      right: 25px;
      margin-top: 25px;
  }

  /* For the Pokemon stuff */
  .pokeleft{
    background-color: rgb(185, 155, 185);
    color: white;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    flex-direction: column;
    border: solid black;
    padding-left: 8px;
    width: 40%;
    height: 260px;
      display: flex;
      position: absolute;
      left: 40px;
      margin-top: 360px;
  }

  .pokeright{
    background-color: rgb(185, 155, 185);
    color: white;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    flex-direction: column;
    border: solid black;
    padding-left: 8px;
    width: 40%;
    height: 260px;
      display: flex;
      position: absolute;
      right: 40px;
      margin-top: 360px;
  }